# Dependency
node_modules
bower_components

# IDE or Editor
.vscode

# Misc
coverage
.nyc_output
.scannerwork
reports

# Backup
bk*

# Log
npm-debug.log

# Lock
package-lock.json
yarn.lock

# Mac
**/.DS_Store

# stryker temp files
.stryker-tmp
