name: release

on:
  workflow_run:
    workflows: ["continuous integration"]
    branches: [master]
    types:
      - completed

jobs:
  release:
    runs-on: ubuntu-latest
    # https://stackoverflow.com/questions/67516571/github-action-triggered-by-success-of-a-different-action
    # https://github.com/orgs/community/discussions/26238
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    strategy:
      matrix:
        node-version: [ 24.x ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v3
        with:
          semantic_version: 15.13.28
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
